<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd"> 
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQLDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         com.mysql.cj.jdbc.Driver
      </property>
      
      <property name = "hibernate.connection.url">
        <!-- production database -->
         jdbc:mysql://localhost:3306/UserDB?serverTimezone=Europe/Berlin&amp;verifyServerCertificate=false&amp;useSSL=true&amp;autoReconnect=true
      </property>
      
      <property name = "hibernate.connection.username">
         webchat
      </property>
      
      <property name = "hibernate.connection.password">
         DasB00t
      </property>

      <mapping class="de.demoapps.webchat.classes.User" />
      
   </session-factory>
</hibernate-configuration>