html {
	height: 100%;
	width: 100%;
}
body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Segoe UI', 'Lucida Grande', 'Ubuntu', 'sans-serif';
	height: 100%;
	width: 100%;
}

.mainTable {
    height: 90%;
    width: 70%;
    margin: auto;
    border-spacing: 15px;
	border-collapse: separate;
    table-layout: auto;
}

/* #REGION userlist-area */
.userList-td {
    height: 100%;
    width: 15%;
    min-width: 10em;
    vertical-align: top;
	margin: 0px;
	padding: 0px;
}

.userList-fieldset {
    height: 100%;
    width: auto;
    border-radius: 10px;
    border-color: cornflowerblue;
    box-shadow: 10px 10px 5px grey;
}

.userlistOutput-textarea {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    resize: none;
    overflow: auto;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.userlistOutput-textarea:focus {
    border: none;
    outline: none;
}

.userListOutput-div {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    resize: none;
    overflow: auto;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
/* #ENDREGION userlist-area */

/* #REGION output-area */
.chatOutput-td {
    height: 100%;
    width: 85%;
    vertical-align: top;
	margin: 0px;
	padding: 0px;
}

.chatOutput-fieldset {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-color: cornflowerblue;
    box-shadow: 10px 10px 5px grey;
}

.chatOutput-div {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    resize: none;
    overflow-x: hidden;
    overflow-y: scroll;
    border-width: 0px;
}
/* #ENDREGION output-area */

/* #REGION input-area */
.chatInput-td {
    height: auto;
    width: 85%;
	margin: 0px;
	padding: 0px;
}

.chatInput-fieldset {
    height: auto;
    width: 100%;
    border-radius: 10px;
    border-color: cornflowerblue;
    box-shadow: 10px 10px 5px grey;
}

.chatInput-textarea {
    width: auto;
    margin: 0px;
    padding: 0px;
    resize: none;
    overflow: auto;
}

.chatInput-div {
    height: 3em;
    width: 100%;
    max-height: inherit;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: auto;
	border: 1px solid black;
}
/* #ENDREGION input-area */

/* #REGION smiley popup */
.smileyPopup-div {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: left;
}

.smileyPopup-div .smileyPopup-content {
    visibility: hidden;
    width: 300px;
    background-color: lightblue;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.smileyPopup-div .smileyPopup-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.smileyPopup-div .show {
    visibility: visible;
}
/* #ENDREGION smiley popup */

/* #REGION image popup */
.imagePopup-div {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: left;
}

.imagePopup-div .imagePopup-content {
    visibility: hidden;
    width: 300px;
    background-color: lightblue;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.imagePopup-div .imagePopup-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.imagePopup-div .show {
    visibility: visible;
}
/* #ENDREGION image popup */

/* #REGION url popup */
.urlPopup-div {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: left;
}

.urlPopup-div .urlPopup-content {
    visibility: hidden;
    width: 300px;
    background-color: lightblue;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.urlPopup-div .urlPopup-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.urlPopup-div .show {
    visibility: visible;
}
/* #ENDREGION url popup */