.mainTable {
    margin: auto;
    border-spacing: 15px;
}

.userList-td {
    width: auto;
    vertical-align: top;
}

.userList-fieldset {
    height: max-content;
    width: 200px;
    border-radius: 10px;
    border-color: cornflowerblue;
    box-shadow: 10px 10px 5px grey;
}

.userlistOutput-textarea {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    resize: none;
    overflow: auto;
    border: none;
}

.userlistOutput-textarea:focus {
    border: none;
    outline: none;
}

.chatOutput-fieldset {
    width: 800px;
    border-radius: 10px;
    border-color: cornflowerblue;
    box-shadow: 10px 10px 5px grey;
}

.chatOutput-textarea {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    resize: none;
    overflow: auto;
    border-width: 0px;
}

.chatOutput-textarea:focus {
    border: none;
    outline: none;
}

.chatInput-fieldset {
    width: 800px;
    border-radius: 10px;
    border-color: cornflowerblue;
    box-shadow: 10px 10px 5px grey;
}

.chatInput-textarea {
    width: 100%;
    margin: 0px;
    padding: 0px;
    resize: none;
    overflow: auto;
}