* {
    font-family: 'Segoe UI', 'Lucida Grande', 'Ubuntu', 'sans-serif';
}

.item1 {
    grid-area: header;
    background-color: darkgray;
    text-align: center;
    vertical-align: middle;
    text-shadow: 5px 5px 2px gray;
}

.item2 {
    grid-area: navigation;
    background-color: grey;
}

.item2-toggle {
    width: 1em;
}

.item3 {
    grid-area: main;
    background-color: whitesmoke;
    overflow: auto;
}

.item4 {
    grid-area: footer;
    background-color: darkgray;
}

.grid-container {
    height: 100vh;
    min-height: 500px;
    width: 100vw;
    min-width: 500px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 150px;
    grid-template-areas: 
        'header header'
        'navigation main'
        'navigation footer';
}

.grid-container-toggle {
    grid-template-columns: 3em 1fr;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', 'Lucida Grande', 'Ubuntu', 'sans-serif';
}

p.message {
    width: 100%;
    height: max-content;
    padding: 0px;
    margin: 10px;
    display: inline-block;
}

/* #REGION userlist-area */
.userList-fieldset {
    height: max-content;
    width: max-content;
    border: 0px;
    margin: 0px;
    padding: 0px 0px 0px 5px;
}

.userList-legend {
    color: lightgreen;
}

.userListOutput-div {
    width: max-content;
    height: max-content;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    resize: none;
    overflow: auto;
    border: none;
    font-weight: bold;
    color: lightgray;
}
/* #ENDREGION userlist-area */

/* #REGION output-area */
.chatOutput-div {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    resize: none;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 0px;
}
/* #ENDREGION output-area */

/* #REGION input-area */
.chatInput-td {
    height: auto;
    width: 85%;
	margin: 10px 0px 0px 10px;
	padding: 0px;
}

.chatInput-text {
    min-width: 10em;
    width: 40em;
    margin: 0px;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Segoe UI', 'Lucida Grande', 'Ubuntu', 'sans-serif';
    font-weight: bold;
    border: 0px;
    background-color: whitesmoke;
}

.chatInput-text:focus, .submitMessage:focus {
    outline: 0px;
}

.submitMessage {
    border: 0px;
    box-shadow: 0px;
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    font-weight: bold;
    color: grey;
    vertical-align: middle;
}

.submitMessage:hover, .submitMessage:focus {
    color: lightgray;
}

.submitMessage:active {
    color: black;
}
/* #ENDREGION input-area */

/* #REGION smiley popup */
.smileyPopup-div {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: left;
}

.smileyPopup-div .smileyPopup-content {
    visibility: hidden;
    width: 300px;
    background-color: lightblue;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.smileyPopup-div .smileyPopup-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.smileyPopup-div .show {
    visibility: visible;
}
/* #ENDREGION smiley popup */

/* #REGION image popup */
.imagePopup-div {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: left;
}

.imagePopup-div .imagePopup-content {
    visibility: hidden;
    width: 300px;
    background-color: lightblue;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.imagePopup-div .imagePopup-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.imagePopup-div .show {
    visibility: visible;
}
/* #ENDREGION image popup */

/* #REGION url popup */
.urlPopup-div {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: left;
}

.urlPopup-div .urlPopup-content {
    visibility: hidden;
    width: 300px;
    background-color: lightblue;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.urlPopup-div .urlPopup-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.urlPopup-div .show {
    visibility: visible;
}
/* #ENDREGION url popup */